Repository sayloryna/isayart-front: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings=0

Create ArtworksClient
  src/App.tsx
  src/artworks/types.ts
  src/client/ArtworksClient.ts
  src/client/types.ts
  src/main.tsx
  src/vite-env.d.ts
Due: prettier --write, eslint --max-warnings=0

Test getAll method form ArtworksClient
  package-lock.json
  package.json
  src/client/ArtworksClient.ts
  src/client/__test__/getAll.test.ts
  src/mocks/artworks.ts
  src/mocks/handler.ts
  src/mocks/node.ts
  src/setupTest.ts
  tsconfig.json
  vite.config.ts
Due: prettier --write, eslint --max-warnings=0

Add test and sonar github workflows
  .github/workflows/sonar.yaml
  .github/workflows/test.yaml
  .gitignore
  package-lock.json
  package.json
  sonar-project.properties
Due: prettier --write

Configure coverage and sonar
  sonar-project.properties
  vite.config.ts
Due: prettier --write, eslint --max-warnings=0

Create redux store
  package-lock.json
  package.json
  src/redux/hooks.ts
  src/redux/store.ts
Due: prettier --write, eslint --max-warnings=0

Create artworksSlice with loadArtworks reducer
  src/redux/artworksSlice/artworksSlice.ts
  src/redux/artworksSlice/types.ts
Due: prettier --write, eslint --max-warnings=0

Test loadArtworks action from artworksReducer
  src/redux/artworksSlice/__tests__/artworksSlice.test.ts
Due: prettier --write, eslint --max-warnings=0

Add redux provider to main
  sonar-project.properties
  src/App.tsx
  src/main.tsx
  src/redux/store.ts
  vite.config.ts
Due: prettier --write, eslint --max-warnings=0

Create IconButton component
  public/assets/icons/delete-bin.svg
  src/components/IconButton/IconButton.tsx
Due: prettier --write

Test IconButton
  package-lock.json
  package.json
  src/components/App/App.tsx
  src/components/IconButton/IconButton.test.tsx
  src/main.tsx
  src/setupTest.ts
Due: prettier --write, eslint --max-warnings=0

Add icon button styles
  index.html
  package-lock.json
  package.json
  sonar-project.properties
  src/components/App/App.scss
  src/components/App/App.tsx
  src/components/IconButton/IconButton.scss
  src/components/IconButton/IconButton.tsx
  src/main.tsx
  src/styles/_globals.scss
  src/styles/index.scss
Due: prettier --write

Style ArtworkCard
  public/assets/icons/heart-fill.svg
  public/assets/icons/heart-line.svg
  public/robots.txt
  src/components/App/App.tsx
  src/components/ArtworksCard/ArtworkCard.scss
  src/components/ArtworksCard/ArtworkCard.tsx
  src/components/IconButton/IconButton.scss
  src/mocks/artworks.ts
  src/styles/_globals.scss
Due: prettier --write, eslint --max-warnings=0

Test ArtworkCard
  public/assets/icons/delete-bin.svg
  src/artworks/types.ts
  src/components/App/App.tsx
  src/components/ArtworksCard/ArtworkCard.scss
  src/components/ArtworksCard/ArtworkCard.test.tsx
  src/components/ArtworksCard/ArtworkCard.tsx
  src/mocks/artworks.ts
Due: prettier --write, eslint --max-warnings=0

Move artworksSlice to artworks folder
  src/artworks/artworksSlice/__tests__/artworksSlice.test.ts
  src/artworks/artworksSlice/artworksSlice.ts
  src/artworks/artworksSlice/types.ts
  src/artworks/types.ts
  src/client/__tests__/ArtworksClient.test.ts
  src/components/App/App.tsx
  src/components/IconButton/IconButton.test.tsx
  src/main.tsx
  src/mocks/artworks.ts
  src/redux/store.ts
  src/setupTests.ts
  vite.config.ts
Due: prettier --write, eslint --max-warnings=0

Add ArtworksList component
  src/components/App/App.tsx
  src/components/ArtworksCard/ArtworkCard.scss
  src/components/ArtworksList/ArtworksList.test.tsx
  src/components/ArtworksList/ArtworksList.tsx
  src/mocks/artworks.ts
  src/styles/_globals.scss
Due: prettier --write, eslint --max-warnings=0

Add gallery page with ArtworksList in it
  sonar-project.properties
  src/components/App/App.tsx
  src/pages/GalleryPage.tsx
Due: prettier --write

Add main header
  src/components/App/App.scss
  src/components/App/App.tsx
  src/components/ArtworkCard/ArtworkCard.scss
  src/components/ArtworkCard/ArtworkCard.test.tsx
  src/components/ArtworkCard/ArtworkCard.tsx
  src/components/ArtworksList/ArtworksList.scss
  src/components/ArtworksList/ArtworksList.tsx
  src/components/MainHeader/MainHeader.scss
  src/components/MainHeader/MainHeader.test.tsx
  src/components/MainHeader/MainHeader.tsx
Due: prettier --write

Add NavigationMenu and mainRouter
  package-lock.json
  package.json
  src/components/App/App.tsx
  src/components/NavigationMenu/NavigationMenu.scss
  src/components/NavigationMenu/NavigationMenu.tsx
  src/main.tsx
  src/router/mainRouter.tsx
  src/routes/routes.ts
  src/styles/_globals.scss
Due: prettier --write, eslint --max-warnings=0

Style navigation menu
  src/components/ArtworkCard/ArtworkCard.scss
  src/components/NavigationMenu/NavigationMenu.scss
  src/styles/_globals.scss
  src/styles/_variables.scss
Due: prettier --write

Test Navigation Menu
  sonar-project.properties
  src/components/NavigationMenu/NavigationMenu.test.tsx
  vite.config.ts
Due: prettier --write, eslint --max-warnings=0

Add height and width to icon button
  src/components/ArtworkCard/ArtworkCard.tsx
  src/components/IconButton/IconButton.scss
  src/components/IconButton/IconButton.test.tsx
  src/components/IconButton/IconButton.tsx
Due: prettier --write

Remodularize artworks components to artworks folder
  src/artworks/client/ArtworksClient.ts
  src/artworks/client/__tests__/ArtworksClient.test.ts
  src/artworks/client/types.ts
  src/artworks/components/ArtworkCard/ArtworkCard.scss
  src/artworks/components/ArtworkCard/ArtworkCard.test.tsx
  src/artworks/components/ArtworkCard/ArtworkCard.tsx
  src/artworks/components/ArtworksList/ArtworksList.scss
  src/artworks/components/ArtworksList/ArtworksList.test.tsx
  src/artworks/components/ArtworksList/ArtworksList.tsx
  src/main.tsx
  src/mocks/handler.ts
  src/pages/GalleryPage.tsx
  src/router/mainRouter.tsx
  src/routes/routes.ts
  src/store/hooks.ts
  src/store/store.ts
Due: prettier --write, eslint --max-warnings=0

Add EmptyGallery to GalleryPage
  public/assets/empty-list.jpg
  src/artworks/artworksSlice/__tests__/artworksSlice.test.ts
  src/artworks/client/__tests__/ArtworksClient.test.ts
  src/artworks/components/ArtworkCard/ArtworkCard.test.tsx
  src/artworks/components/ArtworksList/ArtworksList.test.tsx
  src/artworks/mocks/artworks.ts
  src/components/EmptyGallery/EmptyGallery.tsx
  src/mocks/handler.ts
  src/pages/GalleryPage.tsx
Due: prettier --write, eslint --max-warnings=0

Test GalleryPage
  sonar-project.properties
  src/pages/GalleryPage.test.tsx
  vite.config.ts
Due: prettier --write, eslint --max-warnings=0

Add mockStore to galleryPage test
  .github/workflows/sonar.yaml
  src/pages/GalleryPage.test.tsx
Due: prettier --write

Add _redirects
  public/_redirects
Due: none

Style empty gallery
  src/components/EmptyGallery/EmptyGallery.scss
  src/components/EmptyGallery/EmptyGallery.tsx
Due: prettier --write

Add NotFoundPage
  public/assets/not-found.png
  src/pages/GalleryPage/GalleryPage.test.tsx
  src/pages/GalleryPage/GalleryPage.tsx
  src/pages/NotFoundPage/EmptyGallery.scss
  src/pages/NotFoundPage/NotFoundPage.tsx
  src/router/mainRouter.tsx
Due: prettier --write

Test EmptyGallery and NotFoundPage
  src/components/EmptyGallery/EmptyGallery.test.tsx
  src/components/EmptyGallery/EmptyGallery.tsx
  src/pages/GalleryPage/GalleryPage.test.tsx
  src/pages/NotFoundPage/EmptyGallery.scss
  src/pages/NotFoundPage/NotFoundPage.test.tsx
  src/pages/NotFoundPage/NotFoundPage.tsx
Due: prettier --write

Create Loading component
  public/assets/loading.png
  src/artworks/components/ArtworkCard/ArtworkCard.scss
  src/artworks/components/ArtworkCard/ArtworkCard.tsx
  src/components/App/App.scss
  src/components/App/App.tsx
  src/components/Loading/Loading.scss
  src/components/Loading/Loading.tsx
  src/components/NavigationMenu/NavigationMenu.scss
  src/pages/GalleryPage/GalleryPage.tsx
  src/styles/_containers.scss
  src/styles/index.scss
Due: prettier --write

Test Loading component
  src/components/Loading/Loading.test.tsx
  src/components/Loading/Loading.tsx
  src/pages/GalleryPage/GalleryPage.tsx
  src/styles/_containers.scss
  src/styles/index.scss
Due: prettier --write

Add webfont plugin with font rosario loaded
  index.html
  package-lock.json
  package.json
  vite.config.ts
Due: prettier --write, eslint --max-warnings=0

Create uiSlice with shoLoading and hideLoading reducers
  src/artworks/client/__tests__/ArtworksClient.test.ts
  src/components/IconButton/IconButton.test.tsx
  src/components/IconButton/IconButton.tsx
  src/components/Loading/Loading.scss
  src/components/Loading/Loading.tsx
  src/components/NavigationMenu/NavigationMenu.scss
  src/pages/GalleryPage/GalleryPage.test.tsx
  src/store/store.ts
  src/ui/uiSlice/types.ts
  src/ui/uiSlice/uiSlice.ts
Due: prettier --write, eslint --max-warnings=0

Show loading component while fetching
  package.json
  src/artworks/client/ArtworksClient.ts
  src/artworks/client/__tests__/ArtworksClient.test.ts
  src/artworks/components/ArtworkCard/ArtworkCard.tsx
  src/components/IconButton/IconButton.test.tsx
  src/pages/GalleryPage/GalleryPage.test.tsx
  src/pages/GalleryPage/GalleryPage.tsx
  src/ui/uiSlice/uiSlice.ts
Due: prettier --write, eslint --max-warnings=0

Change delete-button icon
  public/assets/icons/delete-bin.png
  public/assets/icons/delete-bin.svg
  src/artworks/components/ArtworkCard/ArtworkCard.scss
  src/artworks/components/ArtworkCard/ArtworkCard.tsx
  src/components/IconButton/IconButton.scss
  src/components/IconButton/IconButton.test.tsx
  src/components/IconButton/IconButton.tsx
  src/components/Loading/Loading.test.tsx
  src/pages/GalleryPage/GalleryPage.tsx
  src/pages/NotFoundPage/NotFoundPage.scss
  src/pages/NotFoundPage/NotFoundPage.tsx
Due: prettier --write

Add error toast if artworks fetching fails
  package-lock.json
  package.json
  src/artworks/client/ArtworksClient.ts
  src/components/App/App.tsx
  src/pages/GalleryPage/GalleryPage.tsx
Due: prettier --write, eslint --max-warnings=0

Test GalleryPage error in fetching case
  src/pages/GalleryPage/GalleryPage.test.tsx
  src/pages/GalleryPage/GalleryPage.tsx
Due: prettier --write

Show emptyGallery and hide loading in case of error
  src/pages/GalleryPage/GalleryPage.tsx
Due: prettier --write

Fix client method getAll to match apiRest's response
  src/artworks/client/ArtworksClient.ts
  src/components/IconButton/IconButton.test.tsx
  src/components/IconButton/IconButton.tsx
  src/mocks/handler.ts
  src/pages/GalleryPage/GalleryPage.tsx
Due: prettier --write, eslint --max-warnings=0

Change notfound and empty-list images to webp
  README.md
  public/assets/empty-list.jpg
  public/assets/empty-list.webp
  public/assets/not-found.png
  public/assets/not-found.webp
  src/components/EmptyGallery/EmptyGallery.tsx
  src/pages/NotFoundPage/NotFoundPage.tsx
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{ts,tsx,js,scss,json,md}
  eslint --max-warnings=0: any of: *.ts
